<!DOCTYPE html>
<html>

	<head>
        <!-- Bootstrap CSS & Font Links-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="../../css/Header-Dark.css">
        <link rel="stylesheet" href="../../css/Navigation-Clean.css">
        <link rel="stylesheet" href="../../css/styles.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="icon" href="../../img/llogo.png">
        
        <!-- Other CSS Files -->
        <link rel="stylesheet" type="text/css" href="../../css/post-story-prompt.css">
    </head>
    
	<body>
        <title> Edit a Story </title>
        
        <!-- navigation bar -->
        <nav class="navbar navbar-light navbar-expand-lg d-lg-flex justify-content-lg-end align-items-lg-start navigation-clean" style="background-color: #1e2022;padding: 5px 5px 5px 5px;min-width: 300px;">
            <div class="container-fluid">
                <a href="/"><img style="width: 70px;height: 70px;margin: 0px;" src="../../img/llogo.png">
                <a class="navbar-brand" href="/" style="margin: 0px 0px 0px 10px;color: rgb(255,255,255);font-size: 30px;">Literarea</a></a>
                <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
                    <ul class="nav navbar-nav ml-auto">
                        {{#if username}}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/user/subscriptions" style="color: rgb(255,255,255);padding: 8px 18px;"> Subscriptions </a>
                        </li>
                        {{/if}}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/story/view_stories" style="color: rgb(255,255,255);"> Stories </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/prompt/view_prompts" style="color: rgb(255,255,255);"> Prompts </a>
                        </li>
                        {{#if username}}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/user/userprofile" style="color: rgb(255,255,255);padding: 8px 18px;"> Profile </a>
                        </li>
                        {{/if}}
                        {{#unless username}}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/user/register" style="color: rgb(255,255,255);"> Register </a>
                        </li>
                        {{/unless}}
                        {{#unless username}}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/user/login" style="color: rgb(255,255,255);padding: 8px 18px;"> Login </a>
                        </li>
                        {{/unless}}
                    </ul>
                </div>
            </div>
        </nav>
        {{#with story}}
            <div class="post-story-form">
                <form method="post" action="edit_story_form">
                    <div class="form-group">
                    <input type="hidden" name="id" value="{{_id}}">
                    <label for="exampleFormControlInput1">Title</label>
                    <input type="text" class="form-control" id="storyTitle" name="title" value="{{title}}">
                    </div>
                    <div class="form-group">
                    <label for="exampleFormControlSelect1">Genre</label>
                    <select class="form-control" id="storyGenre" name="story_genre">
                        <option value="" disabled selected hidden>Select genre</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Horror">Horror</option>
                    </select>
                    </div>
                    <div class="form-group">
                    <label for="exampleFormControlTextarea1">Story</label>
                    <textarea name="story_body" class="form-control" id="storyContent" rows="5">{{body}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" style="background-color: #1e2022; color: white">Edit</button>
                </form>
            </div>
        {{/with}}
    </body>
</html>
