<!DOCTYPE html>

<html>
    <!-- Bootstrap CSS & Font Links-->
    <script src="./login_files/popper.min.js.download" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="./login_files/bootstrap.min.js.download" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/Header-Dark.css">
    <link rel="stylesheet" href="../css/Navigation-Clean.css">
    <link rel="stylesheet" href="../css/styles.css">

    <link rel="stylesheet" href="../css/solid.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap.min(1).css">

    <!-- Other CSS Files -->
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .form-container{
            -webkit-box-shadow: 0px 0px 14px 3px rgba(128,128,128,1);
            -moz-box-shadow: 0px 0px 14px 3px rgba(128,128,128,1);
            box-shadow: 0px 0px 14px 3px rgba(128,128,128,1);
        }

        .popover {
            max-width: 100%;
            max-height: 100%;
        }

    </style>
    
  </head>

  <body>
        

<title>Login</title>

<div id="login-container"> 
	<div class="modal-dialog text-center">
		<div class="col-sm-9 main-section">
			<div class="modal-content">
				<div class="col-12 logo-img">
					<img src="img/llogo.png">
				</div>
                {{#if error}}
                    <div class="text-danger">{{error}}</div>
                {{/if}}
				<form id="login" name="login_form" method="post" action="login_form">
					<div class="col-12 form-input">
						<div class="login-form-group">
							<input type="text" class="form-control" placeholder="Username" id="username" name="username">
						</div>
						<div class="login-form-group">
							<input type="password" class="form-control" placeholder="Password" id="password" name="password">
						</div>
						<button type="submit" class="btn-reg" id="login-btn">Login</button>
					</div>
				</form>
				<div class="col-12 register">
					New to Literarea? <a href="/register"> Register here </a>
				</div>
			</div>
		</div>
	</div>
</div>
  
</body>
</html>