<!DOCTYPE html>
<html>
	<head>
    <!-- Bootstrap CSS & Font Links-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/Header-Dark.css">
    <link rel="stylesheet" href="../css/Navigation-Clean.css">
    <link rel="stylesheet" href="../css/styles.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="icon" href="../img/llogo.png">

    <!-- Other CSS Files -->
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" type="text/css" href="../css/error.css">
	</head>
	<body>
        <title> User Profile </title>
        
        <nav class="navbar navbar-light navbar-expand-lg d-lg-flex justify-content-lg-end align-items-lg-start navigation-clean" style="background-color: #1e2022;padding: 5px 5px 5px 5px;min-width: 300px;">
            <div class="container-fluid">
                <a href="/"><img style="width: 70px;height: 70px;margin: 0px;" src="img/llogo.png">
                    <a class="navbar-brand" href="/" style="margin: 0px 0px 0px 10px;color: rgb(255,255,255);font-size: 30px;">Literarea</a>
                </a>
                <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
                    <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/" style="color: rgb(255,255,255);"> Home </a>
                                </li>
                            {{#if username}}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/userprofile" style="color: rgb(255,255,255);padding: 8px 18px;"> Profile </a>
                                </li>
                            {{/if}}
                            {{#if username}}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/collection" style="color: rgb(255,255,255);padding: 8px 18px;"> My Collection </a>
                                </li>
                            {{/if}}
                            {{#if username}}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/subscriptions" style="color: rgb(255,255,255);padding: 8px 18px;"> Subscriptions </a>
                                </li>
                            {{/if}}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/view_stories" style="color: rgb(255,255,255);"> Stories </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/view_prompts" style="color: rgb(255,255,255);"> Prompts </a>
                                </li>
                            {{#if username}}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/signout" style="color: rgb(255,255,255);padding: 8px 18px;"> Signout </a>
                                </li>
                            {{/if}}
                            {{#unless username}}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/register" style="color: rgb(255,255,255);"> Register </a>
                                </li>
                            {{/unless}}
                            {{#unless username}}
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/login" style="color: rgb(255,255,255);padding: 8px 18px;"> Login </a>
                                </li>
                            {{/unless}}       
                        </ul>
                </div>
            </div>
        </nav>

<div class="card float-left" id="user-info" style="width: 30%; margin: 0 auto">
    <div class="card-header">
        <h5 class="mb-0" style="color: #black;"><strong>User Information</strong></h5>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><span class="info-label" style="color: #black;"><strong>Username:</strong>&nbsp;</span><span class="float-right info-field"> {{username}} </span></li>

            <li class="list-group-item"><span class="info-label" style="color: #black;"><strong>Intro:</strong>&nbsp;</span><span id="" class="float-right info-field"> Intro </span></li>

            <li class="list-group-item"><span class="info-label" style="color: #black;"><strong>Bio:</strong>&nbsp;</span><span id="" class="float-right info-field"> Bio </span></li>
            <form method="get" action="/edit_profile" class="col-3">
                <div>
                    <button type="submit" class="btn btn-primary" style="margin: 20px;background-color: #1e2022;" id=""> 
                        Edit Profile
                    </button>
                </div>
            </form>
        </ul>
    </div>
</div>

    </body>
</html>
