.prompt-contents-form, .story-contents-form{
    margin: 25px;
    border:1px solid grey;
    padding:10px
}

div.content{
    padding:10px;
    width: 800px;
    margin:auto;
    
}

.commentsDiv, .reviewsDiv{
    margin: 10px;
    border:1px solid grey;
    padding:10px
}

.cmtBlock{
    background-color: aqua;
}